@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>So you found my website...</h1>
<img src="~/images/waifu.jpg" style="display:block;margin-left:auto;margin-right:auto;" />
<p>This website is here just for me to play with a web server and learn some basic html skills. I spend most of my time on the internet on discord if you where wondering.</p>
<p>My main intrests are anime, web devlopment and vaporwave music. In the future I plan to add sections of this to my website</p>
<p>I am also aware of how broken this about page is.</p>

