@page
@model AboutModel
@{
   
    ViewData["Title"] = "About";
}
<h2>Contact Me</h2>
<img src="~/images/contact.jpg" style="display:block;margin-left:auto;margin-right:auto;">
<h1>You can contact me via the following methods</h1>
<h1>Discord</h1>
<p>louisoft01#9850</p>
<p>Email me for a discord server invite.</p>
<h1>Email</h1>
<p><a href="mailto:louisoft01@gmail.com">The old school way</a></p>
<h1>Twitter</h1>
<p><a href="https://twitter.com/louisoft01">louisoft01</a></p>
<h1>Mastodon</h1>
<p><a href="https://goo.gl/vVMTKG">Mastodon</a></p>
<h1>Flashii</h1>
<p><a href="https://flashii.net/users/16">Flashii</a></p>

