@page
@model desubotModel
@{
    ViewData["Title"] = "Desu Bot";
}
<h1>Add some added desu to your discord server!</h1>
<img src="~/images/desu.gif" height="550" width="425" style="display:block;margin-left:auto;margin-right:auto;">
<p>Meet desubot a very buggy very annoying discord bot made in c#. She does not have a tidy code base and was written to try and get me to learn c#. She has a meme sort of tone and likes to break at random times. You have been warned. However if you want to try this discord bot your are perfectly welcome to.</p>
<p>I may also want to state that Desu Bot is provided as is and with no warranty. Uptime is not 100% due to bugs and other problems too.</p>
<center><a href="https://discordapp.com/oauth2/authorize?client_id=398590307416932353&scope=bot">Add Desu Bot To Your Discord Server</a></center>
