@page
@model AboutModel
@{
    ViewData["Title"] = "FAQ";
}
<h1>FAQ</h1>
<img src="~/images/question.png" style="display:block;margin-left:auto;margin-right:auto;" />
<h1>Welcome to the FAQ or Q&A section of my website.</h1>
<p>This part of my website was added to try and reduce the amound of e-mails I receive with commonly asked questions.</p>
<h1>What made you want to make this website?</h1>
<p>I made this website beacuse I was bored and wanted somthing to do. I bought the domain name and borrowed some space of my friends vps. This website is made for fun and I am in no way good at html or css.</p>
<h1>What happned to all of your YouTube videos?</h1>
<p>I deleted most of them due to them being of very low quality.</p>
<h1>Anime is gay</h1>
<p>Does it look Like I Care</p>
<h1>Whats your favourate animes?</h1>
<p>Kinro Mossaic and other slice of life cringe worthy shit.</p>
<h1>I was banned from doggycord or another discord server I am mod on?</h1>
<p>Contact me if you want but you where most likley banned for a good reason.</p>
   

