@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

        <h2>So you found my website...</h2>
        <img src="~/images/desu.gif" height="550" width="425" style="display:block;margin-left:auto;margin-right:auto;">
<p>This website I made to try and learn asp.net and I wanted the domain name. Here you can find stuff that I have worked on over ther years. This site was created as a hobby and may not have 100% uptime.</p>
        
