@page
@model KarenchanModel
@{
}
<h1>KarenChan!</h1>
<h4>KarenChan is a project where I aim to create a anime focused social network.</h4>
<p>
    KarenChan! is being built from the ground up using asp.net core and the bootstrap template. There may be bugs and more! I have currently built some parts of the site and software to go with it. These screenshots can be seen below.
</p>
<p>I also plan to add a ajax style chat to the service. Please feel free to contact me with suggestions.</p>
<h4>Screenshots</h4>
<p>User accounts function</p>
<p><img src="~/images/reg.png" /></p>



