@page
@model AboutModel
@{
    ViewData["Title"] = "Projects";
}
<h1>So you found my projects...</h1>
<p>These projects are provided to you with no warranty, you may no redistribute these without my permission, you can ask this by visiting the <a href="contact.html">Contact Me</a>page. You may download any of these projects at your own risk.</p>
<p>These projects consist of music and programming projects that I have worked in my spare time over the years. Some files are provided in .7z archives and will need the free <a href="http://www.7-zip.org/download.html">7Zip</a> software in order for you to extract these.</p>
<h1>My Various Vaporwave Music Tracks</h1>
<p>These are tracks that have been made by myself in audacity or sony vegas, some of these have quite choppy transitions between samples. These tracks have all ben combined into a single archive to make downloading easier.</p>
<p>Here Is a quick Sample of one of the better tracks I have made</p>
<center>
    <audio controls>
        <source src="sample.mp3" type="audio/mpeg">
        Please upgrade to a modern browser to listen to this audio
    </audio>
</center>
<center><a href="https://mega.nz/#!WAEEAY7I!btaWYk41Zw0o6vYzlHiRe4ZLRahWoJvNG-hpLZ_PsAI">Download Complete Collection</a></center>
<h1>Desu Bot</h1>
<p>Desu Bot or です ボット is a very basic discord bot written in c#. It uses the discord.net libary in order to interact with the discord api. She is currently a work in progress project and is in not very stable. WARNING: Desu Bot at times can be very very annoying.</p>
<p>I may also want to state that Desu Bot is provided as is and with no warranty. Uptime is not 100% due to bugs and other problems too.</p>
<center><a href="/desubot">Full Project Page</a></center>
<center><a href="https://discordapp.com/oauth2/authorize?client_id=398590307416932353&scope=bot">Add Desu Bot To Your Discord Server</a></center>
<h1>More Projects Should Be Coming Soon</h1>


